<div class="container">
<h1 id="title">Stupid Coaching</h1>
<form action="/answer">
  <input id="input" class="form" type="text" placeholder="Put your question here..." name='question'>
  <input class="btn form" type="submit"  value="Ask!">
</form>
</div>
